<div class="fame-relations-content">
  <nav class="fame-tabs">
    {{#if showCharTab}}
    <a class="fame-tab-item {{#if (eq currentTab 'character')}}active{{/if}}" data-action="switchTab" data-tab="character">
      <i class="fa-solid fa-user"></i> {{localize (concat moduleId '.relations.tab-character')}}
    </a>
    {{/if}}
    <a class="fame-tab-item {{#if (eq currentTab 'locations')}}active{{/if}}" data-action="switchTab" data-tab="locations">
      <i class="fa-solid fa-map-marker-alt"></i> {{localize (concat moduleId '.relations.tab-locations')}}
    </a>
    <a class="fame-tab-item {{#if (eq currentTab 'factions')}}active{{/if}}" data-action="switchTab" data-tab="factions">
      <i class="fa-solid fa-flag"></i> {{localize (concat moduleId '.relations.tab-factions')}}
    </a>
    <a class="fame-tab-item {{#if (eq currentTab 'actors')}}active{{/if}}" data-action="switchTab" data-tab="actors">
      <i class="fa-solid fa-users"></i> {{localize (concat moduleId '.relations.tab-actors')}}
    </a>
  </nav>

  <section class="fame-tab-wrapper">
    
    {{!-- CHARACTER TAB --}}
    {{#if showCharTab}}
    <div class="fame-tab-panel {{#if (eq currentTab 'character')}}active{{/if}}" data-tab="character">
      {{#if character}}
      <div class="fame-char-profile">
        <div class="fame-char-profile-main">
          <img class="fame-char-profile-img" src="{{character.img}}">
          <div class="fame-char-profile-info">
            <input type="text" class="fame-char-profile-name-input" value="{{character.customName}}" placeholder="{{character.name}}" data-id="{{character.id}}" data-type="actor">
          </div>
        </div>
      </div>

      <div class="fame-char-subtabs">
        <a class="fame-char-subtab {{#if (eq character.subTab 'locations')}}active{{/if}}" data-action="switchSubTab" data-subtab="locations">
          <i class="fa-solid fa-map-marker-alt"></i> {{localize (concat moduleId '.character.subtab-locations')}}
        </a>
        <a class="fame-char-subtab {{#if (eq character.subTab 'factions')}}active{{/if}}" data-action="switchSubTab" data-subtab="factions">
          <i class="fa-solid fa-flag"></i> {{localize (concat moduleId '.character.subtab-factions')}}
        </a>
        <a class="fame-char-subtab {{#if (eq character.subTab 'actors')}}active{{/if}}" data-action="switchSubTab" data-subtab="actors">
          <i class="fa-solid fa-users"></i> {{localize (concat moduleId '.character.subtab-actors')}}
        </a>
      </div>

      <div class="fame-char-subtab-content">
        <div class="fame-char-subpanel {{#if (eq character.subTab 'locations')}}active{{/if}}">
          <div class="fame-scroll-list">
            {{#each character.locations}}
            <div class="fame-char-location-item clickable {{#if (gt wanted.level 0)}}has-warrant{{/if}}" data-action="navigate" data-type="location" data-id="{{id}}">
              <img class="fame-char-loc-img" src="{{image}}">
              <div class="fame-char-loc-info">
                <span class="fame-char-loc-name">{{name}}</span>
                {{#if (and wanted.reason wantedVisible)}}<div class="fame-char-loc-reason"><i class="fa-solid fa-scroll"></i> {{wanted.reason}}</div>{{/if}}
              </div>
              <div class="fame-char-loc-wanted">
                {{#if (gt wanted.level 0)}}<div class="fame-wanted-stars">{{#each wanted.stars}}<i class="fa-solid fa-star fame-wanted-star {{#if active}}active{{/if}}"></i>{{/each}}</div>{{/if}}
                {{#if (gt wanted.reward 0)}}<div class="fame-wanted-bounty"><i class="fa-solid fa-coins"></i><span class="fame-bounty-amount">{{wanted.reward}}</span></div>{{/if}}
              </div>
            </div>
            {{else}}<div class="fame-no-items center">{{localize (concat moduleId '.relations.no-locations')}}</div>{{/each}}
          </div>
        </div>

        <div class="fame-char-subpanel {{#if (eq character.subTab 'factions')}}active{{/if}}">
          <div class="fame-scroll-list">
            {{#each character.factions}}
            <div class="fame-char-faction-item {{#if isMember}}is-member{{/if}} {{#if hasWanted}}has-bounty{{/if}}">
              <div class="fame-char-faction-header clickable" data-action="navigate" data-type="faction" data-id="{{id}}">
                <img class="fame-char-fac-img" src="{{image}}">
                <div class="fame-char-fac-info">
                  <div class="fame-char-fac-name-row">
                    <span class="fame-char-fac-name">{{name}}</span>
                    {{#if isMember}}<i class="fa-solid fa-star fame-member-star"></i>{{/if}}
                  </div>
                  {{#if rank}}<span class="fame-char-fac-rank" style="background:{{rank.color}}">{{rank.name}}</span>{{/if}}
                </div>
                {{#if hasWanted}}
                <div class="fame-char-fac-wanted">
                  <div class="fame-wanted-stars">{{#each wanted.stars}}<i class="fa-solid fa-star fame-wanted-star {{#if active}}active{{/if}}"></i>{{/each}}</div>
                  {{#if (gt wanted.reward 0)}}<div class="fame-wanted-bounty"><i class="fa-solid fa-coins"></i><span class="fame-bounty-amount">{{wanted.reward}}</span></div>{{/if}}
                </div>
                {{/if}}
              </div>
              <div class="fame-char-faction-relations">
                <div class="fame-char-faction-rel-row">
                  <span class="fame-char-rel-label">{{localize (concat ../moduleId '.relations.faction-attitude')}}:</span>
                  {{{tierBadge directRelTier true}}}
                  {{#if ../isGM}}
                  <div class="fame-char-rel-slider">
                    <div class="fame-bar-container compact" data-id="{{id}}:{{../character.id}}" data-type="faction-rel" data-mode="manual">
                      <div class="fame-bar"><div class="fame-bar-track"><div class="fame-bar-zero" style="left:50%"></div><div class="fame-bar-fill" style="left:{{fillLeft directRel ../min ../max}}%;width:{{fillWidth directRel ../min ../max}}%;background:{{directRelTier.color}}"></div><div class="fame-bar-thumb" style="left:{{percentage directRel ../min ../max}}%;background:{{directRelTier.color}}"></div></div><input type="range" class="fame-bar-slider" min="{{../min}}" max="{{../max}}" value="{{directRel}}" data-id="{{id}}:{{../character.id}}" data-type="faction-rel" data-mode="manual"></div>
                      <div class="fame-bar-controls"><button type="button" class="fame-bar-adj fame-minus" data-action="adjustRep" data-id="{{id}}:{{../character.id}}" data-type="faction-rel" data-mode="manual" data-direction="minus"><i class="fa-solid fa-minus"></i></button><input type="number" class="fame-bar-val" value="{{directRel}}" min="{{../min}}" max="{{../max}}" data-id="{{id}}:{{../character.id}}" data-type="faction-rel" data-mode="manual" style="color:{{directRelTier.color}}"><button type="button" class="fame-bar-adj fame-plus" data-action="adjustRep" data-id="{{id}}:{{../character.id}}" data-type="faction-rel" data-mode="manual" data-direction="plus"><i class="fa-solid fa-plus"></i></button></div>
                    </div>
                  </div>
                  {{else}}<span class="fame-rel-value-display small" style="color:{{directRelTier.color}}">{{#if (gt directRel 0)}}+{{/if}}{{directRel}}</span>{{/if}}
                </div>
                {{#if members.length}}
                <div class="fame-char-faction-rel-row subtle">
                  <span class="fame-char-rel-label">{{localize (concat moduleId '.relations.members-avg')}}:</span>
                  {{{tierBadge avgMemberRelTier true}}}
                  <span class="fame-rel-value-display small" style="color:{{avgMemberRelTier.color}}">{{#if (gt avgMemberRel 0)}}+{{/if}}{{avgMemberRel}}</span>
                </div>
                {{/if}}
              </div>
            </div>
            {{else}}<div class="fame-no-items center">{{localize (concat moduleId '.relations.no-factions')}}</div>{{/each}}
          </div>
        </div>

        <div class="fame-char-subpanel {{#if (eq character.subTab 'actors')}}active{{/if}}">
          <div class="fame-scroll-list">
            {{#each character.actors}}
            <div class="fame-char-actor-item">
              <div class="fame-char-actor-header {{#if isTracked}}clickable{{/if}}" {{#if isTracked}}data-action="navigate" data-type="actor" data-id="{{id}}"{{/if}}>
                <img class="fame-char-rel-img" src="{{img}}">
                <div class="fame-char-rel-info"><span class="fame-char-rel-name">{{name}}</span></div>
              </div>
              <div class="fame-char-actor-relations">
                <div class="fame-char-actor-rel-row">
                  <span class="fame-char-rel-label">{{localize (concat ../moduleId '.relations.their-attitude')}}:</span>
                  {{{tierBadge relationToCharTier true}}}
                  {{#if ../isGM}}
                  <div class="fame-char-rel-slider">
                    <div class="fame-bar-container compact" data-id="{{id}}:{{../character.id}}" data-type="individual" data-mode="manual">
                      <div class="fame-bar"><div class="fame-bar-track"><div class="fame-bar-zero" style="left:50%"></div><div class="fame-bar-fill" style="left:{{fillLeft relationToChar ../min ../max}}%;width:{{fillWidth relationToChar ../min ../max}}%;background:{{relationToCharTier.color}}"></div><div class="fame-bar-thumb" style="left:{{percentage relationToChar ../min ../max}}%;background:{{relationToCharTier.color}}"></div></div><input type="range" class="fame-bar-slider" min="{{../min}}" max="{{../max}}" value="{{relationToChar}}" data-id="{{id}}:{{../character.id}}" data-type="individual" data-mode="manual"></div>
                      <div class="fame-bar-controls"><button type="button" class="fame-bar-adj fame-minus" data-action="adjustRep" data-id="{{id}}:{{../character.id}}" data-type="individual" data-mode="manual" data-direction="minus"><i class="fa-solid fa-minus"></i></button><input type="number" class="fame-bar-val" value="{{relationToChar}}" min="{{../min}}" max="{{../max}}" data-id="{{id}}:{{../character.id}}" data-type="individual" data-mode="manual" style="color:{{relationToCharTier.color}}"><button type="button" class="fame-bar-adj fame-plus" data-action="adjustRep" data-id="{{id}}:{{../character.id}}" data-type="individual" data-mode="manual" data-direction="plus"><i class="fa-solid fa-plus"></i></button></div>
                    </div>
                  </div>
                  {{else}}<span class="fame-rel-value-display small" style="color:{{relationToCharTier.color}}">{{#if (gt relationToChar 0)}}+{{/if}}{{relationToChar}}</span>{{/if}}
                </div>
              <div class="fame-char-actor-rel-row">
                <span class="fame-char-rel-label">{{localize (concat ../moduleId '.relations.your-attitude')}}:</span>
                {{{tierBadge charRelationToThemTier true}}}
                {{#if (or ../isGM ../canEditOwnAttitude)}}
                <div class="fame-char-rel-slider">
                  <div class="fame-bar-container compact" data-id="{{id}}:{{../character.id}}" data-type="individual" data-mode="manual">
                    <div class="fame-bar"><div class="fame-bar-track"><div class="fame-bar-zero" style="left:50%"></div><div class="fame-bar-fill" style="left:{{fillLeft charRelationToThem ../min ../max}}%;width:{{fillWidth charRelationToThem ../min ../max}}%;background:{{charRelationToThemTier.color}}"></div><div class="fame-bar-thumb" style="left:{{percentage charRelationToThem ../min ../max}}%;background:{{charRelationToThemTier.color}}"></div></div><input type="range" class="fame-bar-slider" min="{{../min}}" max="{{../max}}" value="{{charRelationToThem}}" data-id="{{id}}:{{../character.id}}" data-type="individual" data-mode="manual"></div>
                    <div class="fame-bar-controls"><button type="button" class="fame-bar-adj fame-minus" data-action="adjustRep" data-id="{{id}}:{{../character.id}}" data-type="individual" data-mode="manual" data-direction="minus"><i class="fa-solid fa-minus"></i></button><input type="number" class="fame-bar-val" value="{{charRelationToThem}}" min="{{../min}}" max="{{../max}}" data-id="{{id}}:{{../character.id}}" data-type="individual" data-mode="manual" style="color:{{charRelationToThemTier.color}}"><button type="button" class="fame-bar-adj fame-plus" data-action="adjustRep" data-id="{{id}}:{{../character.id}}" data-type="individual" data-mode="manual" data-direction="plus"><i class="fa-solid fa-plus"></i></button></div>
                  </div>
                </div>
                {{else}}<span class="fame-rel-value-display small" style="color:{{charRelationToThemTier.color}}">{{#if (gt charRelationToThem 0)}}+{{/if}}{{charRelationToThem}}</span>{{/if}}
              </div>
              </div>
            </div>
            {{else}}<div class="fame-no-items center">{{localize (concat moduleId '.relations.no-actors')}}</div>{{/each}}
          </div>
        </div>
      </div>
      {{/if}}
    </div>
    {{/if}}

    {{!-- LOCATIONS TAB --}}
    <div class="fame-tab-panel {{#if (eq currentTab 'locations')}}active{{/if}}" data-tab="locations">
      {{#if isGM}}<button type="button" class="fame-add-btn" data-action="addLocation"><i class="fa-solid fa-plus"></i> {{localize (concat moduleId '.locations.add')}}</button>{{/if}}
      <div class="fame-scroll-list">
        {{#each allLocations}}
        <div class="fame-entity-item {{#if expanded}}expanded{{/if}}" data-entity-id="{{id}}" data-entity-type="location">
          <div class="fame-entity-header">
            <img class="fame-entity-img large {{#if ../isGM}}editable{{/if}}" src="{{image}}" {{#if ../isGM}}data-action="changeImage" data-id="{{id}}" data-type="location"{{/if}}>
            <div class="fame-entity-info">
              <div class="fame-entity-name-row">
                {{#if ../isGM}}<input type="text" class="fame-entity-name-input" value="{{name}}" data-id="{{id}}" data-type="location">{{else}}<span class="fame-entity-name">{{name}}</span>{{/if}}
              </div>
              <div class="fame-location-stats">
                <span class="fame-stat"><i class="fa-solid fa-flag"></i> {{factionCount}}</span>
                <span class="fame-stat"><i class="fa-solid fa-user"></i> {{actorCount}}</span>
                <span class="fame-stat"><i class="fa-solid fa-exclamation-triangle"></i> {{wantedCount}}</span>
              </div>
            </div>
            <div class="fame-entity-actions">
              {{#if ../isGM}}<button type="button" class="fame-icon-btn" data-action="delete" data-id="{{id}}" data-type="location" data-tooltip="{{localize (concat ../moduleId '.tooltips.delete')}}"><i class="fa-solid fa-trash"></i></button>{{/if}}
              <button type="button" class="fame-icon-btn fame-expand-btn" data-action="toggleExpand" data-id="{{id}}" data-type="location"><i class="fa-solid fa-chevron-down fame-expand-icon"></i></button>
            </div>
          </div>
          <div class="fame-location-content">
            <div class="fame-collapsible-section">
              <div class="fame-collapsible-header" data-action="toggleSection" data-entity="{{id}}" data-section="wanted">
                <i class="fa-solid fa-chevron-{{#if wantedOpen}}down{{else}}right{{/if}} fame-collapse-icon"></i>
                <span class="fame-section-label"><i class="fa-solid fa-exclamation-triangle"></i> {{localize (concat ../moduleId '.locations.wanted')}}</span>
                <span class="fame-section-count">({{wantedEntries.length}})</span>
                {{#if ../isGM}}<button type="button" class="fame-section-add-btn" data-action="addLocationWanted" data-location="{{id}}"><i class="fa-solid fa-plus"></i></button>{{/if}}
              </div>
              <div class="fame-collapsible-content {{#if wantedOpen}}expanded{{/if}}">
                <div class="fame-wanted-list">
                  {{#each wantedEntries}}
                  <div class="fame-wanted-item">
                    <div class="fame-wanted-header">
                      <img class="fame-wanted-img" src="{{pcImg}}">
                      <div class="fame-wanted-info"><span class="fame-wanted-name">{{pcName}}</span></div>
                      <div class="fame-wanted-stars">
                        {{#each stars}}
                        {{#if ../../../isGM}}
                        <i class="fa-solid fa-star fame-wanted-star-btn {{#if active}}active{{/if}}" data-action="setLocationWantedLevel" data-location="{{../../id}}" data-pc="{{../pcId}}" data-value="{{value}}"></i>
                        {{else}}
                        <i class="fa-solid fa-star fame-wanted-star {{#if active}}active{{/if}}"></i>
                        {{/if}}
                        {{/each}}
                      </div>
                      {{#if ../../isGM}}<button type="button" class="fame-icon-btn" data-action="deleteLocationWanted" data-location="{{../id}}" data-pc="{{pcId}}" data-tooltip="{{localize (concat ../moduleId '.tooltips.delete')}}"><i class="fa-solid fa-trash"></i></button>{{/if}}
                    </div>
                    {{#if (or (gt reward 0) ../../isGM)}}
                    <div class="fame-wanted-extra">
                      {{#if ../../isGM}}
                      <div class="fame-wanted-field"><label><i class="fa-solid fa-coins"></i></label><input type="number" class="fame-location-wanted-reward" value="{{reward}}" min="0" data-location="{{../id}}" data-pc="{{pcId}}"></div>
                      <div class="fame-wanted-field reason"><label><i class="fa-solid fa-scroll"></i></label><input type="text" class="fame-location-wanted-reason" value="{{reason}}" data-location="{{../id}}" data-pc="{{pcId}}"></div>
                      {{else}}{{#if (gt reward 0)}}<span class="fame-wanted-reward-badge"><i class="fa-solid fa-coins"></i> {{reward}}</span>{{/if}}{{#if reason}}<span class="fame-wanted-reason-text">{{reason}}</span>{{/if}}{{/if}}
                    </div>
                    {{/if}}
                  </div>
                  {{else}}<div class="fame-no-items">{{localize (concat moduleId '.wanted.no-warrants')}}</div>{{/each}}
                </div>
              </div>
            </div>
            <div class="fame-collapsible-section">
              <div class="fame-collapsible-header" data-action="toggleSection" data-entity="{{id}}" data-section="loc-factions">
                <i class="fa-solid fa-chevron-{{#if factionsOpen}}down{{else}}right{{/if}} fame-collapse-icon"></i>
                <span class="fame-section-label">{{localize (concat ../moduleId '.locations.factions-here')}}</span>
                <span class="fame-section-count">({{factionsList.length}})</span>
                {{#if ../isGM}}<button type="button" class="fame-section-add-btn" data-action="addFactionToLoc" data-location="{{id}}"><i class="fa-solid fa-plus"></i></button>{{/if}}
              </div>
              <div class="fame-collapsible-content {{#if factionsOpen}}expanded{{/if}}">
                <div class="fame-location-members">
                  {{#each factionsList}}
                  <div class="fame-location-member clickable" data-action="navigate" data-type="faction" data-id="{{id}}">
                    <img class="fame-member-img" src="{{image}}"><span class="fame-member-name">{{name}}</span>
                    {{#if ../../isGM}}<button type="button" class="fame-icon-btn" data-action="removeFactionFromLoc" data-location="{{../id}}" data-faction="{{id}}" data-tooltip="{{localize (concat ../moduleId '.tooltips.delete')}}"><i class="fa-solid fa-times"></i></button>{{/if}}
                  </div>
                  {{else}}<div class="fame-no-items">{{localize (concat moduleId '.relations.no-factions')}}</div>{{/each}}
                </div>
              </div>
            </div>
            <div class="fame-collapsible-section">
              <div class="fame-collapsible-header" data-action="toggleSection" data-entity="{{id}}" data-section="loc-actors">
                <i class="fa-solid fa-chevron-{{#if actorsOpen}}down{{else}}right{{/if}} fame-collapse-icon"></i>
                <span class="fame-section-label">{{localize (concat ../moduleId '.locations.actors-here')}}</span>
                <span class="fame-section-count">({{actorsList.length}})</span>
                {{#if ../isGM}}<button type="button" class="fame-section-add-btn" data-action="addActorToLoc" data-location="{{id}}"><i class="fa-solid fa-plus"></i></button>{{/if}}
              </div>
              <div class="fame-collapsible-content {{#if actorsOpen}}expanded{{/if}}">
                <div class="fame-location-members">
                  {{#each actorsList}}
                  <div class="fame-location-member {{#if isTracked}}clickable{{/if}}" {{#if isTracked}}data-action="navigate" data-type="actor" data-id="{{id}}"{{/if}}>
                    <img class="fame-member-img" src="{{img}}"><span class="fame-member-name">{{name}}</span>
                    {{#if ../../isGM}}<button type="button" class="fame-icon-btn" data-action="removeActorFromLoc" data-location="{{../id}}" data-actor="{{id}}" data-tooltip="{{localize (concat ../moduleId '.tooltips.delete')}}"><i class="fa-solid fa-times"></i></button>{{/if}}
                  </div>
                  {{else}}<div class="fame-no-items">{{localize (concat moduleId '.relations.no-actors')}}</div>{{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
        {{else}}<div class="fame-no-items center">{{localize (concat moduleId '.relations.no-locations')}}</div>{{/each}}
      </div>
    </div>

    {{!-- FACTIONS TAB --}}
    <div class="fame-tab-panel {{#if (eq currentTab 'factions')}}active{{/if}}" data-tab="factions">
      {{#if isGM}}<button type="button" class="fame-add-btn" data-action="addFaction"><i class="fa-solid fa-plus"></i> {{localize (concat moduleId '.factions.add')}}</button>{{/if}}
      <div class="fame-scroll-list">
        {{#each allFactions}}
        <div class="fame-entity-item {{#if expanded}}expanded{{/if}}" data-entity-id="{{id}}" data-entity-type="faction">
          <div class="fame-entity-header">
            <img class="fame-entity-img large {{#if ../isGM}}editable{{/if}}" src="{{image}}" {{#if ../isGM}}data-action="changeImage" data-id="{{id}}" data-type="faction"{{/if}}>
            <div class="fame-entity-info">
              <div class="fame-entity-name-row">
                {{#if ../isGM}}<input type="text" class="fame-entity-name-input" value="{{name}}" data-id="{{id}}" data-type="faction">{{else}}<span class="fame-entity-name">{{name}}</span>{{/if}}
                {{{tierBadge tier}}}
              </div>
              {{#if ../isGM}}
              <div class="fame-bar-container {{#if (eq mode 'auto')}}auto-mode{{/if}} {{#if (eq mode 'hybrid')}}hybrid-mode{{/if}}" data-id="{{id}}" data-type="faction" data-mode="{{mode}}">
                <span class="fame-bar-min">{{../min}}</span>
                <div class="fame-bar"><div class="fame-bar-track"><div class="fame-bar-zero" style="left:50%"></div><div class="fame-bar-fill" style="left:{{fillLeft reputation ../min ../max}}%;width:{{fillWidth reputation ../min ../max}}%;background:{{tier.color}}"></div><div class="fame-bar-thumb" style="left:{{percentage reputation ../min ../max}}%;background:{{tier.color}}"></div></div>{{#unless (or (eq mode 'auto') (eq mode 'hybrid'))}}<input type="range" class="fame-bar-slider" min="{{../min}}" max="{{../max}}" value="{{reputation}}" data-id="{{id}}" data-type="faction" data-mode="{{mode}}">{{/unless}}</div>
                <span class="fame-bar-max">{{../max}}</span>
                <div class="fame-bar-controls"><button type="button" class="fame-bar-adj fame-minus" data-action="adjustRep" data-id="{{id}}" data-type="faction" data-mode="{{mode}}" data-direction="minus"><i class="fa-solid fa-minus"></i></button><input type="number" class="fame-bar-val" value="{{reputation}}" min="{{../min}}" max="{{../max}}" data-id="{{id}}" data-type="faction" data-mode="{{mode}}" style="color:{{tier.color}}" {{#if (or (eq mode 'auto') (eq mode 'hybrid'))}}readonly{{/if}}><button type="button" class="fame-bar-adj fame-plus" data-action="adjustRep" data-id="{{id}}" data-type="faction" data-mode="{{mode}}" data-direction="plus"><i class="fa-solid fa-plus"></i></button></div>
              </div>
              {{else}}<span class="fame-bar-value" style="color:{{tier.color}}">{{#if (gt reputation 0)}}+{{/if}}{{reputation}}</span>{{/if}}
            </div>
            <div class="fame-entity-actions">
              {{#if ../isGM}}<button type="button" class="fame-mode-btn fame-icon-btn {{#unless (eq mode 'manual')}}active{{/unless}} {{#if (eq mode 'hybrid')}}hybrid{{/if}}" data-action="cycleFactionMode" data-id="{{id}}" data-current="{{mode}}" data-tooltip="{{localize (concat ../moduleId '.mode.' mode '-hint')}}"><i class="fa-solid fa-calculator"></i></button><button type="button" class="fame-icon-btn" data-action="delete" data-id="{{id}}" data-type="faction" data-tooltip="{{localize (concat ../moduleId '.tooltips.delete')}}"><i class="fa-solid fa-trash"></i></button>{{/if}}
              <button type="button" class="fame-icon-btn fame-expand-btn" data-action="toggleExpand" data-id="{{id}}" data-type="faction"><i class="fa-solid fa-chevron-down fame-expand-icon"></i></button>
            </div>
          </div>
          <div class="fame-entity-members">
            <div class="fame-collapsible-section">
              <div class="fame-collapsible-header" data-action="toggleSection" data-entity="{{id}}" data-section="faction-wanted">
                <i class="fa-solid fa-chevron-{{#if wantedOpen}}down{{else}}right{{/if}} fame-collapse-icon"></i>
                <span class="fame-section-label"><i class="fa-solid fa-exclamation-triangle"></i> {{localize (concat ../moduleId '.factions.bounties')}}</span>
                <span class="fame-section-count">({{wantedEntries.length}})</span>
                {{#if ../isGM}}<button type="button" class="fame-section-add-btn" data-action="addFactionWanted" data-faction="{{id}}"><i class="fa-solid fa-plus"></i></button>{{/if}}
              </div>
              <div class="fame-collapsible-content {{#if wantedOpen}}expanded{{/if}}">
                <div class="fame-wanted-list">
                  {{#each wantedEntries}}
                  <div class="fame-wanted-item">
                    <div class="fame-wanted-header">
                      <img class="fame-wanted-img" src="{{pcImg}}">
                      <div class="fame-wanted-info"><span class="fame-wanted-name">{{pcName}}</span></div>
                      <div class="fame-wanted-stars">
                        {{#each stars}}
                        {{#if ../../../isGM}}
                        <i class="fa-solid fa-star fame-wanted-star-btn {{#if active}}active{{/if}}" data-action="setFactionWantedLevel" data-faction="{{../../id}}" data-pc="{{../pcId}}" data-value="{{value}}"></i>
                        {{else}}
                        <i class="fa-solid fa-star fame-wanted-star {{#if active}}active{{/if}}"></i>
                        {{/if}}
                        {{/each}}
                      </div>
                      {{#if ../../isGM}}<button type="button" class="fame-icon-btn" data-action="deleteFactionWanted" data-faction="{{../id}}" data-pc="{{pcId}}" data-tooltip="{{localize (concat moduleId '.tooltips.delete')}}"><i class="fa-solid fa-trash"></i></button>{{/if}}
                    </div>
                    {{#if (or (gt reward 0) (ne reputationReward 0) ../../isGM)}}
                    <div class="fame-wanted-extra">
                      {{#if ../../isGM}}
                      <div class="fame-wanted-field"><label><i class="fa-solid fa-coins"></i></label><input type="number" class="fame-faction-wanted-reward" value="{{reward}}" min="0" data-faction="{{../id}}" data-pc="{{pcId}}"></div>
                      <div class="fame-wanted-field"><label><i class="fa-solid fa-star"></i></label><input type="number" class="fame-faction-wanted-rep-reward" value="{{reputationReward}}" data-faction="{{../id}}" data-pc="{{pcId}}"></div>
                      <div class="fame-wanted-field reason"><label><i class="fa-solid fa-scroll"></i></label><input type="text" class="fame-faction-wanted-reason" value="{{reason}}" data-faction="{{../id}}" data-pc="{{pcId}}"></div>
                      {{else}}{{#if (gt reward 0)}}<span class="fame-wanted-reward-badge"><i class="fa-solid fa-coins"></i> {{reward}}</span>{{/if}}{{#if (ne reputationReward 0)}}<span class="fame-wanted-rep-badge {{#if (gt reputationReward 0)}}positive{{else}}negative{{/if}}"><i class="fa-solid fa-star"></i> {{#if (gt reputationReward 0)}}+{{/if}}{{reputationReward}}</span>{{/if}}{{#if reason}}<span class="fame-wanted-reason-text">{{reason}}</span>{{/if}}{{/if}}
                    </div>
                    {{/if}}
                  </div>
                  {{else}}<div class="fame-no-items">{{localize (concat moduleId '.wanted.no-bounties')}}</div>{{/each}}
                </div>
              </div>
            </div>
            {{#if ../isGM}}
            <div class="fame-collapsible-section">
              <div class="fame-collapsible-header" data-action="toggleSection" data-entity="{{id}}" data-section="ranks">
                <i class="fa-solid fa-chevron-{{#if ranksOpen}}down{{else}}right{{/if}} fame-collapse-icon"></i>
                <span class="fame-section-label">{{localize (concat ../moduleId '.ranks.title')}}</span>
                <span class="fame-section-count">({{ranks.length}})</span>
                <button type="button" class="fame-section-add-btn" data-action="addRank" data-faction="{{id}}"><i class="fa-solid fa-plus"></i></button>
              </div>
              <div class="fame-collapsible-content {{#if ranksOpen}}expanded{{/if}}">
                <div class="fame-ranks-list">
                  {{#each ranks}}
                  <div class="fame-rank-item">
                    <input type="text" class="fame-rank-name" value="{{name}}" data-faction="{{../id}}" data-rank="{{id}}">
                    <input type="number" class="fame-rank-multiplier" value="{{multiplier}}" step="0.1" min="0" data-faction="{{../id}}" data-rank="{{id}}">
                    <input type="color" class="fame-rank-color" value="{{color}}" data-faction="{{../id}}" data-rank="{{id}}">
                    <button type="button" class="fame-icon-btn" data-action="deleteRank" data-faction="{{../id}}" data-rank="{{id}}" data-tooltip="{{localize (concat ../moduleId '.tooltips.delete')}}"><i class="fa-solid fa-trash"></i></button>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
            {{/if}}
            <div class="fame-collapsible-section">
              <div class="fame-collapsible-header" data-action="toggleSection" data-entity="{{id}}" data-section="members">
                <i class="fa-solid fa-chevron-{{#if membersOpen}}down{{else}}right{{/if}} fame-collapse-icon"></i>
                <span class="fame-section-label">{{localize (concat ../moduleId '.ranks.members')}}</span>
                <span class="fame-section-count">({{members.length}})</span>
                {{#if ../isGM}}<button type="button" class="fame-section-add-btn" data-action="addMember" data-faction="{{id}}"><i class="fa-solid fa-plus"></i></button>{{/if}}
              </div>
              <div class="fame-collapsible-content {{#if membersOpen}}expanded{{/if}}">
                <div class="fame-members-list fame-drop-target fame-member-drop" data-faction-id="{{id}}">
                  {{#each members}}
                  <div class="fame-member-item clickable" data-action="navigate" data-type="actor" data-id="{{id}}">
                    <img class="fame-member-img" src="{{img}}">
                    <div class="fame-member-info">
                      <span class="fame-member-name">{{name}}</span>
                      {{#if rank}}<span class="fame-member-rank-badge" style="background:{{rank.color}}">{{rank.name}}{{#if (and rank.multiplier (ne rank.multiplier 1))}}<span class="fame-rank-mult">×{{rank.multiplier}}</span>{{/if}}</span>{{/if}}
                    </div>
                    {{#if (and ../../isGM ../../hasRanks)}}<select class="fame-member-rank-select" data-faction="{{../id}}" data-actor="{{id}}"><option value="" {{#unless manualRankId}}selected{{/unless}}>—</option>{{#each ../ranks}}<option value="{{id}}" {{#if (eq id ../manualRankId)}}selected{{/if}}>{{name}}</option>{{/each}}</select>{{/if}}
                    {{#if ../../isGM}}<button type="button" class="fame-icon-btn" data-action="removeMember" data-actor="{{id}}" data-faction="{{../id}}" data-tooltip="{{localize (concat ../moduleId '.tooltips.delete')}}"><i class="fa-solid fa-times"></i></button>{{/if}}
                  </div>
                  {{else}}<div class="fame-no-items">{{localize (concat ../moduleId '.relations.no-members')}}</div>{{/each}}
                </div>
              </div>
            </div>
            {{#if factionRels.length}}
            <div class="fame-collapsible-section">
              <div class="fame-collapsible-header" data-action="toggleSection" data-entity="{{id}}" data-section="relations">
                <i class="fa-solid fa-chevron-{{#if relationsOpen}}down{{else}}right{{/if}} fame-collapse-icon"></i>
                <span class="fame-section-label">{{localize (concat ../moduleId '.relations.to-players')}}</span>
              </div>
              <div class="fame-collapsible-content {{#if relationsOpen}}expanded{{/if}}">
                <div class="fame-relations-list">
                  {{#each factionRels}}
                  <div class="fame-relation-item">
                    <img class="fame-rel-img small" src="{{pcImg}}">
                    <div class="fame-rel-info"><span class="fame-rel-name">{{pcName}}</span>{{{tierBadge tier true}}}</div>
                    <div class="fame-rel-bar-wrap">
                      {{#if ../../isGM}}
                      <div class="fame-bar-container compact" data-id="{{../id}}:{{pcId}}" data-type="faction-rel" data-mode="manual">
                        <div class="fame-bar"><div class="fame-bar-track"><div class="fame-bar-zero" style="left:50%"></div><div class="fame-bar-fill" style="left:{{fillLeft value ../../min ../../max}}%;width:{{fillWidth value ../../min ../../max}}%;background:{{tier.color}}"></div><div class="fame-bar-thumb" style="left:{{percentage value ../../min ../../max}}%;background:{{tier.color}}"></div></div><input type="range" class="fame-bar-slider" min="{{../../min}}" max="{{../../max}}" value="{{value}}" data-id="{{../id}}:{{pcId}}" data-type="faction-rel" data-mode="manual"></div>
                        <div class="fame-bar-controls"><button type="button" class="fame-bar-adj fame-minus" data-action="adjustRep" data-id="{{../id}}:{{pcId}}" data-type="faction-rel" data-mode="manual" data-direction="minus"><i class="fa-solid fa-minus"></i></button><input type="number" class="fame-bar-val" value="{{value}}" min="{{../../min}}" max="{{../../max}}" data-id="{{../id}}:{{pcId}}" data-type="faction-rel" data-mode="manual" style="color:{{tier.color}}"><button type="button" class="fame-bar-adj fame-plus" data-action="adjustRep" data-id="{{../id}}:{{pcId}}" data-type="faction-rel" data-mode="manual" data-direction="plus"><i class="fa-solid fa-plus"></i></button></div>
                      </div>
                      {{else}}<span class="fame-rel-value-display" style="color:{{tier.color}}">{{#if (gt value 0)}}+{{/if}}{{value}}</span>{{/if}}
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
        {{else}}<div class="fame-no-items center">{{localize (concat moduleId  '.relations.no-factions')}}</div>{{/each}}
      </div>
    </div>

    {{!-- ACTORS TAB --}}
    <div class="fame-tab-panel fame-global-drop-zone {{#if (eq currentTab 'actors')}}active{{/if}}" data-tab="actors">
      {{#if isGM}}<div class="fame-drop-hint">{{localize (concat moduleId '.settings.dragActorHint')}}</div>{{/if}}
      <div class="fame-scroll-list">
        {{#each allActors}}
        <div class="fame-entity-item {{#if expanded}}expanded{{/if}}" data-entity-id="{{id}}" data-entity-type="actor">
          <div class="fame-entity-header">
            <img class="fame-entity-img large" src="{{img}}">
            <div class="fame-entity-info">
              <div class="fame-entity-name-row">
                {{#if ../isGM}}<input type="text" class="fame-entity-name-input" value="{{customName}}" placeholder="{{originalName}}" data-id="{{id}}" data-type="actor">{{else}}<span class="fame-entity-name">{{name}}</span>{{/if}}
                {{{tierBadge tier}}}
              </div>
              {{#if ../isGM}}
              <div class="fame-bar-container {{#if (eq mode 'auto')}}auto-mode{{/if}} {{#if (eq mode 'hybrid')}}hybrid-mode{{/if}}" data-id="{{id}}" data-type="actor" data-mode="{{mode}}">
                <span class="fame-bar-min">{{../min}}</span>
                <div class="fame-bar"><div class="fame-bar-track"><div class="fame-bar-zero" style="left:50%"></div><div class="fame-bar-fill" style="left:{{fillLeft reputation ../min ../max}}%;width:{{fillWidth reputation ../min ../max}}%;background:{{tier.color}}"></div><div class="fame-bar-thumb" style="left:{{percentage reputation ../min ../max}}%;background:{{tier.color}}"></div></div>{{#unless (or (eq mode 'auto') (eq mode 'hybrid'))}}<input type="range" class="fame-bar-slider" min="{{../min}}" max="{{../max}}" value="{{reputation}}" data-id="{{id}}" data-type="actor" data-mode="{{mode}}">{{/unless}}</div>
                <span class="fame-bar-max">{{../max}}</span>
                <div class="fame-bar-controls"><button type="button" class="fame-bar-adj fame-minus" data-action="adjustRep" data-id="{{id}}" data-type="actor" data-mode="{{mode}}" data-direction="minus"><i class="fa-solid fa-minus"></i></button><input type="number" class="fame-bar-val" value="{{reputation}}" min="{{../min}}" max="{{../max}}" data-id="{{id}}" data-type="actor" data-mode="{{mode}}" style="color:{{tier.color}}" {{#if (or (eq mode 'auto') (eq mode 'hybrid'))}}readonly{{/if}}><button type="button" class="fame-bar-adj fame-plus" data-action="adjustRep" data-id="{{id}}" data-type="actor" data-mode="{{mode}}" data-direction="plus"><i class="fa-solid fa-plus"></i></button></div>
              </div>
              {{else}}<span class="fame-bar-value" style="color:{{tier.color}}">{{#if (gt reputation 0)}}+{{/if}}{{reputation}}</span>{{/if}}
            </div>
            <div class="fame-entity-actions">
              {{#if ../isGM}}<button type="button" class="fame-mode-btn fame-icon-btn {{#unless (eq mode 'manual')}}active{{/unless}} {{#if (eq mode 'hybrid')}}hybrid{{/if}}" data-action="cycleActorMode" data-id="{{id}}" data-current="{{mode}}" data-tooltip="{{localize (concat ../moduleId '.mode.' mode '-hint')}}"><i class="fa-solid fa-calculator"></i></button><button type="button" class="fame-icon-btn" data-action="delete" data-id="{{id}}" data-type="actor" data-tooltip="{{localize (concat ../moduleId '.tooltips.delete')}}"><i class="fa-solid fa-trash"></i></button>{{/if}}
              <button type="button" class="fame-icon-btn fame-expand-btn" data-action="toggleExpand" data-id="{{id}}" data-type="actor"><i class="fa-solid fa-chevron-down fame-expand-icon"></i></button>
            </div>
          </div>
          <div class="fame-entity-relations">
            <div class="fame-collapsible-section">
              <div class="fame-collapsible-header" data-action="toggleSection" data-entity="{{id}}" data-section="actor-relations">
                <i class="fa-solid fa-chevron-{{#if relationsOpen}}down{{else}}right{{/if}} fame-collapse-icon"></i>
                <span class="fame-section-label">{{localize (concat ../moduleId '.relations.to-players')}}</span>
              </div>
              <div class="fame-collapsible-content {{#if relationsOpen}}expanded{{/if}}">
                <div class="fame-relations-list">
                  {{#each relations}}
                  <div class="fame-relation-item">
                    <img class="fame-rel-img small" src="{{pcImg}}">
                    <div class="fame-rel-info"><span class="fame-rel-name">{{pcName}}</span>{{{tierBadge tier true}}}</div>
                    <div class="fame-rel-bar-wrap">
                      {{#if ../../isGM}}
                      <div class="fame-bar-container compact" data-id="{{../id}}:{{pcId}}" data-type="individual" data-mode="manual">
                        <div class="fame-bar"><div class="fame-bar-track"><div class="fame-bar-zero" style="left:50%"></div><div class="fame-bar-fill" style="left:{{fillLeft value ../../min ../../max}}%;width:{{fillWidth value ../../min ../../max}}%;background:{{tier.color}}"></div><div class="fame-bar-thumb" style="left:{{percentage value ../../min ../../max}}%;background:{{tier.color}}"></div></div><input type="range" class="fame-bar-slider" min="{{../../min}}" max="{{../../max}}" value="{{value}}" data-id="{{../id}}:{{pcId}}" data-type="individual" data-mode="manual"></div>
                        <div class="fame-bar-controls"><button type="button" class="fame-bar-adj fame-minus" data-action="adjustRep" data-id="{{../id}}:{{pcId}}" data-type="individual" data-mode="manual" data-direction="minus"><i class="fa-solid fa-minus"></i></button><input type="number" class="fame-bar-val" value="{{value}}" min="{{../../min}}" max="{{../../max}}" data-id="{{../id}}:{{pcId}}" data-type="individual" data-mode="manual" style="color:{{tier.color}}"><button type="button" class="fame-bar-adj fame-plus" data-action="adjustRep" data-id="{{../id}}:{{pcId}}" data-type="individual" data-mode="manual" data-direction="plus"><i class="fa-solid fa-plus"></i></button></div>
                      </div>
                      {{else}}<span class="fame-rel-value-display" style="color:{{tier.color}}">{{#if (gt value 0)}}+{{/if}}{{value}}</span>{{/if}}
                    </div>
                  </div>
                  {{else}}<div class="fame-no-items">{{localize (concat moduleId '.relations.no-players')}}</div>{{/each}}
                </div>
              </div>
            </div>
            {{#with (filterMemberFactions ../allFactions id) as |memberFactions|}}
            {{#if memberFactions.length}}
            <div class="fame-collapsible-section">
              <div class="fame-collapsible-header" data-action="toggleSection" data-entity="{{../id}}" data-section="actor-factions">
                <i class="fa-solid fa-chevron-{{#if ../factionsOpen}}down{{else}}right{{/if}} fame-collapse-icon"></i>
                <span class="fame-section-label">{{localize (concat moduleId '.relations.faction-memberships')}}</span>
                <span class="fame-section-count">({{memberFactions.length}})</span>
              </div>
              <div class="fame-collapsible-content {{#if ../factionsOpen}}expanded{{/if}}">
                <div class="fame-relations-list">
                  {{#each memberFactions}}
                  <div class="fame-relation-item clickable" data-action="navigate" data-type="faction" data-id="{{id}}">
                    <img class="fame-rel-img small" src="{{image}}">
                    <div class="fame-rel-info">
                      <span class="fame-rel-name">{{name}}</span>
                      {{#with (findMemberRank this ../../id) as |rank|}}{{#if rank}}<span class="fame-member-rank-badge" style="background:{{rank.color}}">{{rank.name}}</span>{{/if}}{{/with}}
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
            {{/if}}
            {{/with}}
          </div>
        </div>
        {{else}}<div class="fame-no-items center">{{localize (concat moduleId  '.relations.no-actors')}}</div>{{/each}}
      </div>
    </div>

  </section>
</div>